{% include  'base.html' %}
{% load cloudinary %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}
    <!-- contendor principal  login-->
    <div class="container py-3 col-md-6">
        <div class="row justify-content-center py-1">
                <h1 class="row justify-content-center display-4 py-md-3 shadow pb-4" style="color: white; background-color: #7308EC; border-radius: 0px">Ingreso al sistema</h1>
                <div class="card">
                    <div class="card-body rounded mx-md-5">
                        <br>
                        {% cloudinary '/escaneo-de-huellas-digitales_bd2iii.png' width=200 crop='fill' %}
                        <br>
                        <div class="row justify-content-center h-100 py-4">
                            <div class="col-sm-8 col-md-6 col-lg-6 rounded">
                                <div class="row">
                                    <div class="col-sm-10 col-md-12 col-lg-12">
                                            <form class="" action="" method="post">
                                                {% csrf_token %}
                                                {{ form | crispy }}
                                                &nbsp;
                                                <br>
                                                <input type="submit" value="Ingresar" class="btn btn-lg" style="background-color: #d63384; color: white" href="">
                                            </form>
                                   </div>
                               </div>
                           </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}