{% load static %}
{% load cloudinary %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<style>
        body {
        background-color: #6441A0;}

        .container-fluid{
            background-color: #7308EC;
        }

        .navbar-brand {
            color: white;
        }

</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg container-fluid align-content-lg-end">
          <div class="container">
              <div class="col">
                  <div class="card-body">
                      {% cloudinary 'surrealdb-icon_f5ffbq.svg' width=120 crop='fill' %}
                  </div>
              </div>
            <a class="navbar-brand" href="#" style="font-size: 25px">APP Administracion</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <form action="" class="d-flex">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="color: white; font-size: 20px">Home</a>
                        </li>
                          <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="" style="color: white; font-size: 20px">Quienes somos</a>
                        </li>
                          <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#" style="color: white; font-size: 20px">Galeria</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active btn btn-secondary" aria-current="page" href="{% url 'https://inventario-administracion-production.up.railway.app/api/' %}" style="color: white; font-size: 20px">API WEB </a>
                        </li>
                  </ul>
                </form>
        </div>
    </nav>
{% block content %}
{% endblock %}
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>





